{% extends 'base.html.twig' %}

{% block title %}Bienvenu chez régions{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenu sur la présentation des régions de france</h1>
  <p class="lead">fait avec l'api  du gouvernement</p>
</div>
{% endblock %}
